@import '../../styles/custom/_mixins.less';

page-issuance-details {
	display: block;
  .page-layout;

  h3 {
    margin: 0 0 5px 0;
  }

  .well {
    padding: 10px 0;
    font-size: 12px;
    min-height: 95px;
    margin-bottom: 10px;
  }
}