@import '../../styles/custom/_helpers.less';

page-issuance-details {
	display: block;
  .page-layout;

  .page-panel {
    margin-bottom: 0;

    .panel-heading {
      company-value-change {
        color: @gray-dark;
        @media (min-width: @screen-sm) {
          margin-left: @padding-small-horizontal;
          border-left: @border-default;
          padding-left: @padding-small-horizontal;
        }

        .total, arrow-change {
          display: inline;
        }
      }
    }
  }

  .panel-title {
    font-size: @font-size-h3 + 2;
  }

  .column-right {
    @media (max-width: @screen-md) {
      padding: 0;
    }
  }
  market-depth {
    padding-bottom: @padding-large-vertical*2;
  }

  issuance-passports,
  market-depth {
    .well {
      height: 119px;
    }
  }

  @media (max-width: @screen-sm){
     issuance-passports .well {
      height: initial;
      margin-bottom: @padding-large-vertical*2;
     }
  }

  small.fineprint {
    margin: @padding-large-vertical * 2 0;  }
}