@import '../../styles/custom/_helpers.less';

page-issuance-details {
	display: block;
  .page-layout;

  .page-panel {
    margin-bottom: 0;

    .panel-heading {
      company-value-change {
        margin-left: @padding-small-horizontal;
        border-left: @border-default;
        padding-left: @padding-small-horizontal;
        color: @gray-dark;

        .total, arrow-change {
          display: inline;
        }
      }
    }
  }

  .panel-title {
    font-size: @font-size-h3 + 2;
  }

  .panel-subtitle {
    font-size: @font-size-small;
  }


  .well {
   // padding-top: 10px 0;
  }

  // To get rid of extra scrollbar for the main page panel:
  candlestick-chart, related-companies {
    .well {
      margin-bottom: 8px;
    }
  }
}