// Most of this component is styled by: components/page-issuance-details/issuance-messages/issuance-messages.less'
@import '../../../styles/bootstrap-custom/_variables';

issuance-polls {
    .poll-details {
        margin-bottom: @padding-xlarge-vertical;
        label {
            font-size: @font-size-base;
            margin-bottom: @padding-small-vertical;
        }
    }
}


