@import '../../../styles/bootstrap-custom/_variables.less';
@import (reference) '../../../styles/custom/_mixins.less';
@import (reference) '../../../styles/custom/_icons.less';

order-offers-accepted {
	display: block;
  font-size: @font-size-small;
  overflow-x: auto;

  .subheading {
    border-bottom: 0;
    margin-bottom: @padding-large-vertical;
  }
  .accepted-offers-header {
    color: @gray;
    margin: 8px 0;
  }
  .accepted-offers-status {
    padding: 0;
    align-items: center;
    line-height: 1.8em;
    margin-bottom: @padding-small-horizontal;
  }
  .offer-date {
    float: right;
    text-transform: initial;
    font-size: @font-size-xsmall;
    color: @gray;
  }
  .icon-expired {
    .icon-variant-circle ("\ea07"; @white; @brand-danger; @brand-danger;);
  }
  .contextual-bg-progress {
    .icon-expired {
      .icon-variant-circle ("\ea07"; @white; @brand-progress; @brand-progress;);
    }
  }
  .contextual-bg-inactive {
    .icon-expired {
      .icon-variant-circle ("\ea07"; @white; @brand-danger; @brand-danger;);
    }
  }
}