<!DOCTYPE HTML>
<style>
body {
  padding: 20px;
  background-color: white !important;
}
</style>

<div id="demo"></div>

<meta name="viewport" content="initial-scale=1.0, width=device-width" />

<script type="text/stache" id="demo-html">
  <can-import from="~/styles/styles.less" />
  <can-import from="wallet-ui/components/page-orders/order-offers-accepted/" />
  <order-offers-accepted order:from="order"
                         offers:from="offers"
                         issuance:from="issuance"></order-offers-accepted>
</script>

<script src="../../../../node_modules/steal/steal.js"
        main="@empty">

  import $ from 'jquery';
  import stache from 'can-stache';
  import reload from 'live-reload';
  import DefineMap from 'can-define/map/map';
  import mockHtlcOffer from '~/models/mock/mock-htlc-offer'
  import issuance from '~/models/mock/mock-issuance'
  import Offer from '~/models/offer'

  const offer = mockHtlcOffer()
  offer.htlcStep = 2

  const vm = new DefineMap({
    order: offer.order,
    issuance,
    offers: new Offer.List([offer]),
  });

  // Enable live-reload:
  stache.async($('#demo-html').html()).then(template => {
    let render = () => $('#demo').html(template(vm));
    render();
    reload(render);
  });
</script>
