@import '../../../styles/bootstrap-custom/_variables.less';
@import (reference) '../../../styles/custom/_mixins.less';

order-offers-accepted {
	display: block;
  font-size: @font-size-small;
  overflow-x: auto;

  .subheading {
    border-bottom: 0;
    margin-bottom: @padding-large-vertical;
  }
  .accepted-offers-header {
    color: @gray;
    margin: 8px 0;
  }
  .accepted-offers-status {
    padding: 0;
    align-items: center;
    line-height: 1.8em;
    margin-bottom: @padding-small-horizontal;
  }

}