.black {
  background-color: #000;
}
.gray-dark {
  background-color: #333;
}
.gray {
  background-color: #666;
}
.gray-light{
  background-color: #999;
}
.gray-lighter {
  background-color: #CCC;
}
.gray-lightest {
  background-color: #F2F2F2;
}
.white {
  background-color: #FFF;
}
.red {
  background-color: #EC2F39;
}
.orange {
  background-color: #FF6600;
}

.yellow {
  background-color: #FFBC5E;
}
.green {
  background-color: #32B576;
}
.blue {
  background-color: #468CD9;
}
.blue-light {
  background-color: rgba(70, 140, 217, 0.08);
}
.teal {
  background-color: #37BFB8;
}
.brand-edc {
  background-color: #D30E1B;
}

