@import '../../../styles/bootstrap-custom/_variables.less';

@row-selected-bg: fade(@brand-primary, 10%);
@row-selected-border: 3px solid @brand-primary;


grid-component {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  table {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }
  tr {
    display: flex;

    &.selected {
      background-color: @row-selected-bg;
      td:nth-child(1){
        border-left: @row-selected-border;
      }
    }
  }
  tbody {
    overflow-y: scroll;
  }
  thead {
    background-color: @white;
    vertical-align: bottom;
  }
  th, td {
    flex-grow: 1;
    flex-basis: 5%;
  }
  tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table {
    margin-bottom: 0;

    tfoot td {
      padding-top: 20px;
      vertical-align: middle;
    }
  }
}