@import '../../../styles/bootstrap-custom/_variables.less';
@import '../../../styles/custom/_variables';

@row-selected-bg: fade(@brand-primary, 10%);
@row-selected-border: 3px solid @brand-primary;

grid-component {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;

  .grid-responsive {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  // Bootstrap Overwrites
  .table {
    margin-bottom: 0;
  }

  // Custom Styles

  .grid-header {
    text-align: left;
    width: calc(~"100% - "@scrollbar-width);
  }

  .grid-body-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .grid-body {
    width: calc(~"100% - "@scrollbar-width);
    td {
      cursor: pointer;
      &.truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
    tr {
      &.selected {
        background-color: @row-selected-bg;
        td:nth-child(1){
          border-left: @row-selected-border;
        }
      }
    }
  }

  .grid-footer {
    width: 100%;
    padding: 16px 0 0;
    align-self: flex-end;

    .pagination {
      margin: 0;
      &.btn-group > .btn {
        min-width: 33px;
      }
    }
    .grid-results {
      float: right;
      margin-top: 4px;
      color: @gray;
      font-size: @font-size-xsmall;
    }
  }

  th {
    &.sort {
    cursor: pointer;
    }
    .icon-arrow {
      color: @brand-primary;
    }
  }

  // Coloring td content:
  .color-change {
    color: @brand-success;
  }
  .color-change-neg {
    color: @brand-danger;
  }

  // Responsiveness
  @media (max-width: @screen-md) {
    .grid-responsive {
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }

  @media (max-width: @screen-xs) {
    .grid-footer {
      .pagination {
        float: left;
        width: 100%;
      }
      .grid-results {
        float: left;
        margin-top: @padding-large-horizontal;
      }
    }
  }

}