@import '../../../styles/bootstrap-custom/_variables.less';

portfolio-summary {
	display: block;

  .panel-default > .panel-heading {
    border-bottom: 0;
    background: white;
    padding: 15px 25px;
  }

  .border-right {
    border-right: 1px solid @gray-lighter;
  }

  .summary-section {

    height: 70px;

    > span {
      font-size: 20px;
      font-weight: normal;
      small {
        color: @gray-light;
      }
    }

    &.larger {
      > span {
        font-size: 25px;
      }
    }

    &.accent {
      color: @gray-light;
    }
  }
}