@import '../../../styles/bootstrap-custom/_variables.less';

portfolio-summary {
	display: block;

  .panel-default > .panel-heading {
    padding: 15px 2rem;
  }

  .border-right {
    border-right: @border-default;
  }

  .card {
    .panel-body {
      padding-top: 0;
    }
  }

  .summary-section {
    padding: @padding-large-horizontal 0 0 @padding-large-horizontal;
    min-height: 60px; // Fixed height to align the rows
    small {
      font-size: @font-size-base;
    }

    > span,
    > arrow-change {
      font-size: @font-size-h4;
      line-height: 1em;
    }

    &.larger {
      > span {
        font-size: @font-size-h3;
        line-height: 0.8em;
      }
    }

    &.accent {
      color: @gray-light;
    }
  }
}