@import '../../../styles/bootstrap-custom/_variables.less';
//@import (reference) '../../../styles/custom/_mixins.less';

offer-status {
	display: block;
  font-size: @font-size-small;

  .offer-status-box {
     margin-bottom: @padding-large-vertical;
  }

}