@import '../../../styles/bootstrap-custom/_variables.less';
//@import (reference) '../../../styles/custom/_mixins.less';
@import (reference) '../../../styles/custom/_icons.less';

offer-status {
	display: block;
  font-size: @font-size-small;

  .offer-status-box {
     margin-bottom: @padding-large-vertical;
  }
  .contextual-bg-inactive {
    .icon-expired {
      .icon-variant-circle ("\ea07"; @white; @brand-danger; @brand-danger;);
    }
  }
}