@import '../../../styles/bootstrap-custom/_variables.less';

company-metadata {
  display: block;

  small {
    color: @gray;
  }
  .well {
    margin-bottom: @padding-large-vertical*2;
  }

  // Styles the issuance metadata
  dl {
    margin-bottom: 0;
    &.dl-horizontal {
      @media (max-width: @screen-lg) {
        column-count: 1;
      }
      dt {
        text-align: left;
        width: 110px;
      }
      dd {
        margin-left: 110px;
      }
    }
  }

}
