@import '../../../styles/bootstrap-custom/_variables.less';

company-metadata {
  display: block;

  .title {
    text-transform: uppercase;
    color: @gray-light;
    font-size: @font-size-small;
    margin-bottom: @padding-small-vertical;
  }
  small {
    color: @gray;
  }
  .group {
    margin-bottom: @padding-large-vertical*2;
  }
  .column {
    border-left: @border-default;
    padding: 0 1rem;
    line-height: 1.8rem;

    .sub {
      font-size: @font-size-small - 1;
    }
  }

  &.narrow {
    .group {
      border-top: @border-default;
      padding-top: @padding-small-vertical;
    }
    .column {
      border-left: none;
      margin-bottom: @padding-large-vertical;
      flex-basis: 50%;
      max-width: 50%;
      padding-left: 0;
    }
  }

  @media (max-width: @screen-sm) {
    .narrow;
  }

}