@import '../../../styles/bootstrap-custom/_variables.less';

owned-passport-details {
	display: block;

	.issuers-investors-tabs {
		margin-top: 20px;
		&.nav-pills > li {
			width: 50%;
		}
	}
	.passport-metadata {
		dl {
			margin-bottom: 0;
		}
	}
	.prompt-add-issuance,
	.edit-add-issuance {
		border-bottom: 0;
	}
	
	.edit-add-issuance {
		background-color: @active-bg;
		.btn-add-issuance {
			align-self: flex-start;
		}
		.btn-cancel {
			align-self: flex-end;
		}
		.issuance-selector {
			@media (max-width: @screen-sm) {
				margin-bottom: 15px;
			}
		}

		@media (max-width: @screen-sm) {
			position: relative;
			.btn-cancel {
				position: absolute;
				right: 1rem;
				bottom: 12px;
			}
		}
	}
	.message-box {
		@media (min-width: 545px) {
			.btn {
				margin-top: 0;
			}
		}
		
		passport-add-issuance-selector {
			margin-top: 15px;
		}
	}
}