collect-asset {
	display: block;
	bootstrap-slider {
		.slider-advanced {
			align-items: center;
			display: flex;
			justify-content: center;
		}
		.label-end {
			width: 86px;
    		text-align: right;
		}
	}
}