<!DOCTYPE HTML>
<style>
  body { padding: 20px }
</style>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<div id="demo"></div>

<script type="text/stache" id="demo-html">
  <can-import from="bootstrap-canjs" />
  <can-import from="bootstrap-canjs/modal/modal.less" />
  <can-import from="bootstrap/dist/js/bootstrap" />

  <can-import from="~/styles/styles.less" />
  <can-import from="~/components/page-my-issuances/" />

  <page-my-issuances issuances:from="issuances"
                     portfolio:from="portfolio"></page-my-issuances>
  <bootstrap-modal></bootstrap-modal>
</script>

<script src="../../../node_modules/steal/steal.js"
        main="@empty">

  import $ from 'jquery'
  import stache from 'can-stache'
  import reload from 'live-reload'
  import DefineMap from 'can-define/map/map'
  import canViewModel from 'can-view-model'
  window.canViewModel = canViewModel
  import Issuance from '~/models/issuance'
  import { data } from '~/models/fixtures/issuances'
  import portfolio from '~/models/mock/mock-portfolio'
  import '~/models/mock/mock-session'

  const vm = new DefineMap({
    // issuances: new Issuance.List([])
    issuances: new Issuance.List([data[0], data[9]]),
    portfolio
  })
  window.vm = vm

  // Enable live-reload:
  stache.async($('#demo-html').html()).then(template => {
    let render = () => $('#demo').html(template(vm))
    render()
    reload(render)
  })
</script>
