@import '../../../../styles/bootstrap-custom/_variables.less';

send-form {
	display: block;

  .input-group-addon {
    font-size: smaller;
  }

  .funds-quantity {
    width: 250px;
  }
  .quantity-usd {
    width: 180px;
  }

  .rate-arrows {
    font-size: 20px;
    color: @gray;
    position: relative;
    top: 5px;
    padding: 0 5px;
  }
}