@import '../../../../styles/bootstrap-custom/_variables.less';
@import '../../../../styles/custom/animate.less';

send-form {
	display: block;

  // Styles the issuance selector
  can-search-select {
    font-size: @font-size-small;
    .dropdown-list {
      max-width: 501px;
      max-height: 160px;
      top: 40px;
      border: 1px solid @gray-lighter;
      border-radius: @border-radius-base;

      li {
        padding-left: 8px;
        padding-right: 8px;
        &:hover {
          background-color: @gray-lightest;
        }
      }
    }
  }

  .rate-arrows {
    font-size: 20px;
    color: @gray-light;
    align-self: center;
    margin-top: 7px;
  }
}