@import '../../styles/bootstrap-custom/_variables.less';

market-eqb {
	display: block;

  .panel {
    padding: 4% 7% 7%;
  }

  .panel-body {
    text-align: center;
    position: relative; // to display the spinner in relation to the body of this panel.
    @media (min-width: @screen-xs-max) {
      min-height: 344px;
    }
  }
}