latest-issuances {
	display: block;

  .column-domicile {
    width: 110px;
    max-width: 160px;
  }
  .column-issuance {
    width: 180px;
  }
  .column-issuance-type {
    width: 120px;
  }
  .column-restriction {
    width: 93px;
  }

  grid-component {
    .grid-footer {
      padding: 10px 0 0 0;
    }
  }
}