latest-issuances {
	display: block;
  .btn {
    margin-top: 10px;
  }
  .column-domicile {
    width: 130px;
  }
  .column-issuance {
    width: 90px;
  }
  .column-issuance-type {
    width: 120px;
  }
  .column-restriction {
    width: 93px;
  }
}