@import '../../../styles/bootstrap-custom/_variables';

send-popup {
	display: block;

}

bootstrap-modal-content {
  &.modal-full-height {
    height: 90vh;
    .modal-body {
      position: relative;
      overflow: auto;
      height: 77vh;
    }
    @media (max-width: @screen-xs) {
      height: 96vh;
      .modal-body {
        //height: 81vh;
      }
    }
  }
}

