@import '../../../styles/bootstrap-custom/_variables';

send-popup {
	display: block;

}

.send-funds {
  .modal-body.edit-mode {
    height: 70vh;
  }
  .modal-footer {
    a.pull-right {
      line-height: 35px;
    }
  }
}

can-search-select {
  .dropdown-list {
    max-height: 160px;
    border-color: @gray-lighter;

    li {
      &:hover {
        background-color: @gray-lightest;
      }
    }
  }
}