<!DOCTYPE HTML>
<div id="demo"></div>
<style>
  body { padding: 20px }
  .modal { display: block; }
  bootstrap-modal-content { display: block; }
</style>

<script type="text/stache" id="demo-html">
  <can-import from="~/styles/styles.less" />
  <can-import from="wallet-ui/components/trade-funds/send-popup/" />

  <div class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <send-popup></send-popup>

      </div>
    </div>
  </div>
</script>

<script src="../../../../node_modules/steal/steal.js"
        main="@empty">
  import $ from 'jquery';
  import stache from 'can-stache';
  import reload from 'live-reload';

  // Enable live-reload:
  stache.async($('#demo-html').html()).then(template => {
    let render = () => $('#demo').html(template({}));
    render();
    reload(render);
  });
</script>
