@import '../../../styles/bootstrap-custom/_variables.less';

forward-poll {
	display: block;

	bootstrap-modal-content {
		.modal-header {
			margin-bottom: @padding-xs-horizontal;
		}
	}
	.well--content {
		background-color: @active-bg;
		textarea.form-control {
			min-height: 120px;
		}
	}
	.well--footer {
		margin-bottom: @padding-xlarge-vertical;		
	}
	
}