sell-orders, buy-orders {
	display: block;

  grid-component {
    .column-quantity {
      width: 73px;
    }
    .column-askprice {
      width: 74px;
    }
    .column-datetime {
      width: 87px;
    }
    .column-partial {
      width: 57px;
    }
    .action-buttons {
      width: 72px;
    }
  }
}