@import '../../../../styles/bootstrap-custom/_variables.less';

create-company {
	display: block;
	.subtitle {
		 margin: @padding-large-vertical 0;
	}
	.subheading {
		border-bottom: 0;
		margin-bottom: @padding-small-vertical;
	}
}
