@import '../../../styles/bootstrap-custom/_variables.less';

entity-info {
	background-color: @active-bg;
	display: block;
	font-size: @font-size-small;
	.entity-name {
		font-size: @font-size-base;
	}
}
