@import '../../../styles/bootstrap-custom/_variables.less';

transactions-grid {
	display: flex;
  flex-direction: column;
  flex-grow: 2;

  .column-date {
    width: 100px;
  }
  .column-type {
    width: 110px;
  }
  .column-securities {
    width: 100px;
    text-align: right;
    &.tx-CANCEL, &.tx-AUTH, &.tx-IN {
      span {
        color: @brand-success;
        text-transform: lowercase;
      }
    }
    &.tx-USER-LOCK, &.tx-OUT {
      span:before {
        content: "- "
      }
    }
    &.tx-LOCK {
      span {
        font-style: italic;
      }
    }
	}
	.column-cash {
    width: 110px;
    text-align: right;

    &.tx-IN {
      span {
        color: @brand-success
      }
    }
    &.tx-USER-LOCK, &.tx-CANCEL, &.tx-OUT, &.tx-AUTH {
      span:before {
        content: "- "
      }
    }
    &.tx-LOCK {
      span {
        font-style: italic;
      }
    }
  }
	td {
		&.column-securities,
		&.column-cash {
					font-family: @font-family-numeric;
		}
	}
	.transaction-subject {
		font-family: @font-family-bold;
	}
  tr {
    &.pending {
      background-color: fade(@gray-lightest, 50%);
      font-style: italic;
      color: @gray;
      .date-value {
        &:after {
          font-family: 'edc-icons' !important;
          content: "\e94e";
          font-style: normal;
          padding-left: @padding-small-horizontal;
        }
      }
    }

    // todo: add row colors that play well with .selected of grid.less.
    &.tx-out {
      //background: #45FFAD;
    }

    &.tx-in {
      //background: #569BE6;
    }
  }
}
