@import '../../../styles/bootstrap-custom/_variables.less';

notifications-popover {
	display: block;
  max-width: 350px;
  .popover {
    max-width: 350px;
    &.bottom {
      margin-top: 30px;
      > .arrow {
        border-bottom-color: @gray-dark;
        &:after {
          border-bottom-color: @gray-dark;
        }
      }
    }
  }
  .popover-title {
    background-color: @gray-dark;
    color: @white;
    text-transform: uppercase;
    font-size: @font-size-small;
    border-color: @gray-dark;
    margin: -1px;
  }
  .popover-body {
    max-height: 84vh;
    overflow-y: auto;
  }

  .dropdown-menu {
    background-color: @white;
  }

  .list-group.list-group-simple {
    margin: 0;
  }

  .list-group-item {
    border-width: 0 0 1px 0;
    border-color: @gray-lighter;
    margin-bottom: 0;
  }
}