@import '../../../../styles/bootstrap-custom/_variables.less';

issuance-add-passport {
	display: block;
	.prompt-box {
		border-bottom: 0;
	}
	.prompt-box--edit {
		background-color: @active-bg;
	}
}