@import '../../../../styles/bootstrap-custom/_variables.less';

create-authority {
	display: block;

	.subheading {
		border-bottom: 0;
		margin-bottom: 5px;
	}
	.list-group {
		margin-top: @padding-large-vertical;
	}
	.alert {
		margin-top: @padding-large-vertical;
	}
}