@import '../../../styles/bootstrap-custom/_variables.less';

transactions-details {
	display: flex;
  flex-direction: column;
  flex-grow: 2;
  .well {
    flex-grow: 2;
    overflow-y: auto;
  }
  .title {
    font-size: @font-size-h3;
    margin-top: 0;
  }
  label {
    display: block;
    margin-bottom: 0;
  }
	.transaction-to,
	.transaction-from {
		font-size: @font-size-small;
	}
  .transaction-description {
    align-items: center;
    label {
      flex-grow: 2;
    }
  }
}
