@import '../../../../styles/bootstrap-custom/_variables.less';

offer-form {
	display: block;

  .order-header {
    margin-top: @padding-xlarge-vertical;
  }

  .order-fields {
    h4 {
      text-transform: uppercase;
      margin-bottom: @padding-large-vertical;
    }
    .form-control {
      margin-bottom: @padding-small-vertical;
    }
  }
}