@import '../../../../styles/bootstrap-custom/_variables.less';

send-confirm-form {
	display: block;

  .row {
    margin: 0 -10px;
  }

  .small-text {
    font-size: 13px;
  }
  .transaction-fee {
    color: @gray-light;
  }
}