@import '../../../../styles/bootstrap-custom/_variables.less';

send-confirm-form {
	display: block;

	.column-digital-currency-type {
		width: 60px;
	}
	.column-local-currency-type {
		width: 30px;
	}
	.column-digital-currency-value,
	.column-local-currency-value {
		width: 100px;
		text-align: right;
	}
}
