time-remaining {
	display: block;
}
.remainingTooltip {
	float: left;
    line-height: 1.2;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
	line-height: 1.2;
}