@import '../../../styles/bootstrap-custom/_variables';
@import '../../../styles/custom/_mixins';

accept-trading-passport {
	display: block;
	.modal-body {
		text-align: center;
	}
	.icon-notification-passport {
		.icon-circle (25px);
	}
	.btn-add-passport,
	.btn-create-new {
		margin: 15px 5px;
	}
}