issuance-messages {
	display: flex;
	flex: 1 1 auto;
	.messages-container {
		width: 100%;
		display: flex;
		flex: 1 1 auto;
		margin-bottom: 0 !important;
		.message-box {
			display: flex;
			flex-direction: column;
		}	
	}
}