@import '../../../styles/bootstrap-custom/_variables';

issuance-messages {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column; 
	.well--header {
		min-height: 56px;
	}
	@media (max-width: @screen-md) {
		grid-component {
		  .grid-responsive {
			.grid-header-container,
			.grid-body-scroll {
			  width: 800px;
			}
		  }
		}
	  }
	
	@media (max-width: @screen-xs) {
		grid-component {
			height: initial;
			.grid-responsive {
				height: initial;
			}
		}
	}
}