@import '../../../styles/bootstrap-custom/_variables.less';

editor-wysiwyg,
.popover {
	display: block;
	.btn-default {
		color: @gray-dark;
		border: none;
	}
	.note-toolbar.panel-heading {
		.btn {
			border-radius: 0;
		}
	}
	.btn {
		&:active {
			box-shadow: none;
		}
		&.active {
			&:hover {
				background-color: @link-color;
				color: @white;
			}
		}
	}
	.btn-group.open .dropdown-toggle {
		box-shadow: none;
	}
	.dropdown-menu > li > a{
		color: @gray-dark;
	}
	.note-style {
		border-right: @border-default;
	}

}
