issuance-passports {
	display: block;
  a.icon-share {
    margin-left: 5px;
    &:hover {
      text-decoration: none;
    }
  }

  h3 .badge {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}