@import '../../../styles/bootstrap-custom/_variables';

issuance-passports {
	display: block;
}

issuance-passports,
.issuance-passports {
  .well {
    @media (min-width: @screen-sm){
      column-count: 2;
    }
  }
  .passport-list {
    font-size: @font-size-small;
    li {
      margin: 2px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

    }
    .btn {
      margin-top: 5px;
    }
  }
}

