@import '../../../../../styles/bootstrap-custom/_variables';

distribution-form {
	display: block;
	.form-group {
		margin-bottom: 0;
	}
	bootstrap-datepicker {
		@media (min-width: @screen-xs-max) {
			margin-left: 15px;
		}
	}
	.additional-time {
		justify-content: center;
		margin-left: 5px;
		color: @gray;
	}
	.frequency-selector {
		margin-top: 10px;
	}
}