passport-accepted-issuances-grid {
	display: block;
	.column-company {

	}
	.column-domicile {
		text-align: right;
		width: 200px;
	}
	.column-issuance-type {
		text-align: right;
		width: 200px;
	}
	.column-price {
		text-align: right;
		width: 120px;
	}
}