passport-accepted-issuances-grid {
	display: block;
	.column-domicile {
		text-align: right;
		width: 120px;
	}
	.column-issuance-type {
		text-align: right;
		width: 150px;
	}
	.column-price {
		text-align: right;
		width: 80px;
	}
}