@import '../../../styles/bootstrap-custom/_variables';

candlestick-chart {
	display: block;
  //max-width: 600px;
  //background: white;

  div.well {
    //padding: 10px;
  }

  candlestick-volume-chart {
    * {
      box-sizing: content-box;
    }
    .chartBoundsContainer {
      font-family: serif;
    }

    .chart-controls {
      .label {
        display: block;
        text-align: left;
        font-size: small;
        color: @gray;
        font-weight: normal;
        margin-bottom: 3px;
      }

      .zoom {
        margin-right: 10px;
        .btn {
          &:nth-child(3), &:nth-child(4), &:nth-child(6) {
            display: none;
          }
        }
      }

      .zoom, .candlestick-controls {
        display: inline-block;
      }
    }
  }
}