@import '../../../styles/bootstrap-custom/_variables';

candlestick-chart {
	display: block;

  candlestick-volume-chart {
    * {
      box-sizing: content-box;
    }
    .chartBoundsContainer {
      font-family: serif;
    }

    .chart-container .chart {
      margin-bottom: 0;
    }

    .chart-controls {
      .label {
        display: block;
        text-align: left;
        font-size: @font-size-small;
        color: @gray;
        font-weight: normal;
        padding: 5px 0;
      }

      .zoom {
        margin-right: 10px;
        .btn {
          &:nth-child(3), &:nth-child(4), &:nth-child(6) {
            display: none;
          }
        }
      }

      .zoom, .candlestick-controls {
        display: inline-block;
        margin-top: 10px;
      }

      // Makes buttons pills for mobile to handle wrapping
      @media (max-width: @screen-xs) {
        .btn-group > .btn {
          margin: 3px;
          &:first-child:not(:last-child),
          &:not(:first-child):not(:last-child):not(.dropdown-toggle),
          &:last-child:not(:first-child) {
            border-radius: @border-radius-large*2;
          }
        }
      }

    }
  }
}