candlestick-chart {
	display: block;
  max-width: 600px;
  background: white;

  candlestick-volume-chart {
    * {
      box-sizing: content-box;
    }
    .chartBoundsContainer {
      font-family: serif;
    }
  }
}