@import '../../../styles/bootstrap-custom/_variables.less';

portfolio-cash {
	display: block;

  .table {
    margin-bottom: 0
  }
  .well {
    overflow-x: auto;
  }
  .funds-error {
    color: @brand-danger;
  }
}