@import '../../../styles/bootstrap-custom/_variables.less';

trading-passports-list {
	display: block;
	.list-tabs li {
		width: 50%;
	}
	.list-status {
		text-align: right;
	}
	.list-type {
		text-align: right;
	}
	.pagination {
		margin: 0;
	}
	.list-group {
		&.stretch {
			overflow-y: auto;
			margin-bottom: 0;
		}
	}
	.list-group-item {
		margin-bottom: @padding-large-vertical;
	}
	.form-group {
		text-align: center;
	}
}