@import '../../../styles/bootstrap-custom/_variables.less';

forgot-password {
	display: block;

  .message-box {
    margin-top: @padding-large-vertical*2;
    .icon-email {
      font-size: 40px;
      position: relative;
      margin-bottom: @padding-large-vertical;
      color: @gray-lighter;
      &:after {
        font-family: 'edc-icons' !important;
        content : '\ea10';
        position: absolute;
        background-color: @brand-success;
        font-size: 10px;
        padding: @padding-small-vertical;
        border-radius: 10px;
        color: white;
        bottom: -3px;
        right: -11px;
      }
    }
  }
}