@import '../../styles/custom/_helpers.less';

page-research {
	display: block;
  .page-layout;

  h3.panel-title {
    small {
      float: right;
      line-height: 18px;
    }
  }
  @media (max-width: @screen-xs) {
    grid-component .grid-responsive {
      width: 550px;
    }
    grid-component {
      overflow-x: auto;
    }
  }
}