@import '../../styles/custom/_mixins.less';

page-research {
	display: block;
  .page-layout;

  grid-component {
    tbody {
      max-height: 200px;
    }
  }

  h3.panel-title {
    small {
      float: right;
      line-height: 18px;
    }
  }
}