@import '../../../../styles/bootstrap-custom/_variables';

poll-results {
	display: block;
	.poll-stats {
        border-left: @border-default;
        label {
			margin-bottom: 0;
			font-size: @font-size-small;
        }
        .poll-stat {
            margin-bottom: @padding-large-horizontal;
        }
    }
}