@import '../../../../../styles/bootstrap-custom/_variables.less';

phrase-input {
  display: block;
  margin-bottom: @padding-xlarge-vertical;
  .has-error {
    label {
      color: @brand-danger;
    }
  }
  label {
    text-align: center;
  }
}