/**
  * @stylesheet flexboxgrid/_less.less Grid System
  * @parent styles.base
  *
  * @description
  * Equibit Portfolio doesn't use Bootstrap's grid system. Instead it uses [flexboxgrid](http://flexboxgrid.com/).
  * Note that this framework doesn't use the `.container-fluid` class, and `.col-` need to always be wrapped
  * inside of a `.row` for them to work.
  *
**/


@half-gutter-width:       1rem;
@gutter-compensation:     0rem;
@outer-margin:            1rem;
@grid-columns:            12;
