most-active {
	display: block;
  .column-issuance {
    width: 70px;
  }
  .column-trades {
    width: 70px;
  }
  .column-volume {
    width: 96px;
  }
  .column-trades,
  .column-volume {
    text-align: right;
  }

}