@import '../../../../styles/bootstrap-custom/_variables';

compose-message {
	display: block;
	.form-control  {
		border: 0;
		&:focus,
		&:active {
			box-shadow: none;
		}
	}
	.form-inline {
		.form-group {
			width: 100%;
		}
		.form-control {
			
			@media (min-width: @screen-sm) {
				width: 80%;
			}
			@media (max-width: @screen-xs) {
				width: 100%;
				padding-left: 0;
				padding-top: 0;
				border-bottom: @border-default;
				border-radius: 0;
			}
		}
	}
	
	.well--header {
		padding: @padding-small-vertical;
	}
	.well--content {
		margin-bottom: @padding-large-horizontal !important;
		textarea {
			display: flex;
			flex: 1 1 auto;
		}
	}
	
	bootstrap-modal-content {
		.modal-header {
			margin-bottom: @padding-xs-horizontal;
		}
		@media (min-width: @screen-xs-max) {
			.modal-body {
				height: calc(~"100vh - "45px) !important;
				display: flex;
				flex-direction: column;
			}
		}
	}
	.modal-footer {
		.row {
			width: 100%;
		}
		.delete-button-container {
			justify-content: flex-end;
		}
	}
}