@import '../../../styles/bootstrap-custom/_variables.less';

order-list,
offer-list {
	display: block;

  .list-tabs {
    li {
      width: 33.2%;
    }
  }
  .list-time-stamp {
    text-align: right;
    font-size: @font-size-xsmall;
  }
  .list-status {
    text-align: right;
  }
  .list-type {
    text-align: right;
  }
  .pagination {
    margin: 0;
  }
}