@import '../../../styles/bootstrap-custom/_variables.less';

order-list {
	display: block;

  .order-tabs {
    li {
      width: 33.2%;
    }
  }
  .order-time-stamp {
    text-align: right;
    font-size: @font-size-xsmall;
  }
  .order-status {
    text-align: right;
  }
  .pagination {
    margin: 0;
  }
}