@import '../../../styles/bootstrap-custom/_variables';

order-book {
	display: block;
  .well {
    margin-bottom: @padding-xlarge-vertical;
  }

  grid-component {
    margin-bottom: @padding-large-vertical;
		tr:hover {
			background-color: @active-bg;
			.btn {
				background-color: @brand-primary;
				border-color: @brand-primary;
				color: @white;
			}
		}
		.grid-responsive {
      height: 450px;
      @media (max-width: @screen-sm) {
        height: initial;
      }
    }
  }
	.table-condensed {
		> tbody,
		> thead {
			> tr {
				td, th {
					padding: 2px;
					border-top: 0;
					.btn {
						font-size: @font-size-xsmall;
						padding: 1px 5px;
					}
				}
			}
		}
	}
}

order-book,
.order-book {
  @media (min-screen: @screen-md) {
    .sell-orders {
      padding-left: 0;
    }
    .buy-orders {
      padding-right: 0;
    }
  }

  @media (max-width: 1199px) {
    .sell-orders {
      padding: 0;
    }
    .buy-orders {
      margin-top: @padding-large-vertical*2;
      padding: 0;
    }
  }

  grid-component {
     // Column widths
    .column-quantity {
      //width: 66px;
    }
    .column-price {
      width: 100px;
    }
    .column-datetime {
      width: 100px;
    }
    .column-action-buttons {
      width: 44px;
    }
    .column-partial {
      width: 50px;
    }
  }

	sell-orders {
		grid-component {
			th, td {
				text-align: right;
			}
			.column-action-buttons {
				text-align: left;
			}
		}
	}

	buy-orders {
		grid-component {

			.column-action-buttons {
				text-align: right;
			}
		}
	}
}

bootstrap-modal-content.order-book {
  company-value-change {
    margin-bottom: @padding-large-vertical;
    .total, arrow-change {
      display: inline;
    }
  }
}
