order-book {
	display: block;

  grid-component {
    table {
      tbody {
        max-height: 180px;
      }
    }
    margin-bottom: 10px;
  }
}

bootstrap-modal-content.order-book {

  company-value-change {
    .total, arrow-change {
      display: inline;
      font-size: smaller;
    }
  }
}
