@import '../../../styles/bootstrap-custom/_variables';

order-book {
	display: block;

  grid-component {
    margin-bottom: @padding-large-vertical;
    .grid-responsive {
      height: 196px;
      @media (max-width: @screen-sm) {
        height: initial;
      }
    }
  }

}

order-book,
.order-book {
  @media (min-screen: @screen-md) {
    .sell-orders {
      padding-left: 0;
    }
    .buy-orders {
      padding-right: 0;
    }
  }

  @media (max-width: 1199px) {
    .sell-orders {
      padding: 0;
    }
    .buy-orders {
      margin-top: @padding-large-vertical*2;
      padding: 0;
    }
  }

  grid-component {
     // Column widths
    .column-quantity {
      width: 66px;
    }
    .column-price {
      width: 50px;
    }
    .column-datetime {
      //width: 77px;
    }
    .column-action-buttons {
      width: 46px;
    }
    .column-partial {
      width: 30px;
    }
  }
}

bootstrap-modal-content.order-book {
  company-value-change {
    margin-bottom: @padding-large-vertical;
    .total, arrow-change {
      display: inline;
    }
  }
}

