@import '../../../styles/bootstrap-custom/_variables.less';

.modal-authority {
	display: block;
	.well {
		background-color: @active-bg;
	}
	.modal-body {
		padding-top: @padding-large-vertical;
		label {
			margin-top: @padding-large-vertical;
			margin-bottom: 0;
		}
	}
	.btn-edit {
		align-self: baseline;
		margin-top: @padding-large-vertical;	
	}
}