@import '../../../styles/bootstrap-custom/_variables.less';

.modal-authority {
	display: block;
	
	.modal-body {
		padding-top: @padding-large-vertical;
		label {
			margin-top: @padding-large-vertical;
			margin-bottom: 0;
		}
	}
}