password-strength {
  .strength-indicator-0:after {
    content: 'Worst';
    color: red;
  }
  .strength-indicator-1:after {
    content: 'Bad';
    color: orangered;
  }
  .strength-indicator-2:after {
    content: 'Weak';
    color: orange;
  }
  .strength-indicator-3:after {
    content: 'Good';
    color: greenyellow;
  }
  .strength-indicator-4:after {
    content: 'Strong';
    color: green;
  }
}