@import '../../../styles/bootstrap-custom/_variables.less';

password-strength {
  font-size: @font-size-small;

  // Sets the font and layout
  [class*='strength-indicator-'] {
    &:before {
      font-family: 'edc-icons' !important;
    }
    &:after {
      margin-left: @padding-xs-horizontal;
    }
  }

  // Sets the messages and the icon types
  .strength-indicator-0 {
    &:before {
      content: '\e990';
      color: @brand-danger;
    }
    &:after {
      content: 'This password is very unsecure!';
    }
  }

  .strength-indicator-1 {
    &:before {
      content: '\e990';
      color: @brand-danger;
    }
    &:after {
      content: 'This password is too weak!';
    }
  }

  .strength-indicator-2, .strength-indicator-3 {
    &:before {
      content: '\e990';
      color: @brand-warning;
    }
    &:after {
      content: 'This password is weak!';
    }
  }

  // .strength-indicator-3 {
  //   &:before {
  //     content: '\ea10';
  //     color: @brand-success;
  //   }
  //   &:after {
  //     content: 'This password is good enough.';
  //   }
  // }
  .strength-indicator-4 {
    &:before {
      content: '\e98f';
      color: @brand-success;
    }
    &:after {
      content: 'This is a strong password!';
    }
  }
}