password-strength {
  .strength-indicator-0:after {
    content: 'Very weak';
    color: red;
  }
  .strength-indicator-1:after {
    content: 'Weak';
    color: orangered;
  }
  .strength-indicator-2:after {
    content: 'Medium';
    color: orange;
  }
  .strength-indicator-3:after {
    content: 'Strong';
    color: greenyellow;
  }
  .strength-indicator-4:after {
    content: 'Very Strong';
    color: green;
  }
}