<script type="text/stache" id="demo">
  <can-import from="~/styles/styles.less" />
  <input type="text" ($keyup)="updatePassword(%element)" class="form-control" />
  <password-strength {password}="password"></password-strength>
</script>
<script src="../../../../node_modules/steal/steal.js"
        main="@empty">
  import $ from 'jquery';
  import stache from 'can-stache';
  import DefineMap from 'can-define/map/map';
  import 'wallet-ui/components/page-auth/password-strength/';

  const vm = new (DefineMap.extend({
    password: 'string',
    updatePassword (el) {
      this.password = el.value;
      console.log(`updatePassword ${this.password}`);
    }
  }))({});
  const frag = stache.from('demo')(vm);

  document.body.append(frag);
</script>
