@import '../../../styles/bootstrap-custom/_variables.less';

issuance-info {
	display: block;

  .issuance-title {
    margin-top: 0;
    font-size: @font-size-h3;
  }
  company-metadata {
    margin-top: @padding-large-vertical*2;
    .title {
      text-align: right;
    }
  }
}