@import '../../../styles/bootstrap-custom/_variables.less';

issuance-info {
	display: flex;
  flex-grow: 1;
  .well {
    flex-grow: 1;
  }

  .issuance-title {
    margin: 0;
    font-size: @font-size-h3;
  }
  .issuance-subtitle {
    font-size: @font-size-small;
    color: @gray;
    margin-bottom: @padding-large-vertical;
  }
  company-metadata {
    margin-top: @padding-large-vertical*2;
    .title {
      text-align: right;
    }
  }
}