@import '../../../styles/bootstrap-custom/_variables.less';

my-portfolio {
	display: block;

  h2.sub-title {
    margin: 10px 0 6px;
    font-size: @font-size-small;
    text-transform: uppercase;
    color: @gray;
  }
  h3 {
    margin: 0 0 6px 0;
    font-size: @font-size-small;
    text-transform: uppercase;
    border-bottom: 2px solid @gray-light;
  }

  drag-panel.card {
    .panel-body {
      padding-top: 0;
    }
  }

  .summary-section {
    border-bottom: 1px solid @gray-lighter;
    padding-bottom: 8px;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }
}
