@import '../../../styles/bootstrap-custom/_variables.less';

my-portfolio {
	display: block;

  .balances {
    arrow-change {
      margin-top: -6px;
    }
  }

  .section {
    margin-bottom: 30px;
  }

  .summary-section {
    border-bottom: @border-default;
    padding-bottom: 8px;
    margin-bottom: 10px;
    &:first-child {
      margin-top: 10px;
    }
    > span {
      line-height: 0.8em;
    }
  }

  @media (min-width: @screen-sm) {
    portfolio-breakdown,
    portfolio-cash {
      .well {
        min-height: 146px;
      }
    }
  }

}
