@import '../../../styles/bootstrap-custom/_variables.less';

my-portfolio {
	display: block;

  h2.sub-title {
    margin: 0 0 6px;
    font-size: @font-size-small;
    text-transform: uppercase;
  }

  drag-panel.card {
    .panel-body {
      padding-top: 0;
    }
  }
}