@import '../../../../styles/bootstrap-custom/_variables';

sent-polls-grid {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	width: 100%;
	.icon-checkmark {
		color: @brand-success;
		margin-right: 5px;
	}
	.btn-link {
		font-family: @font-family-bold;
	}
	.column-subject {
		max-width: 1px;
	}
	.column-status {
		width: 97px;
	}
	.column-date {
		width: 90px;
	}
	.column-time {
		width: 120px;
	}
	.column-responses {
		width: 120px;
	}
}