<script type="text/stache" can-autorender>
  <can-import from="jquery" />
  <can-import from="tether" />
  <can-import from="bootstrap" />
  <!--<can-import from="bootstrap/scss/bootstrap.scss" />-->
  <can-import from="bootstrap/dist/css/bootstrap.min.css" />
  <can-import from="wallet-ui/styles.scss" />

  <can-import from="wallet-ui/components/page-signup/page-signup" />
  <page-signup></page-signup>
</script>
<script src="../../../node_modules/steal/steal.js"
        main="can-view-autorender"></script>
