watch-list {
	display: block;

  grid-component {
    .column-change {
      width: 100px;
    }
    .column-changepercent {
      width: 80px;
    }
    .column-change,
    .column-changepercent {
      text-align: right;
    }
  }
}