<style>
body {
  padding: 20px;
  background-color: white !important;
}
</style>
<div id="demo"></div>

<script type="text/stache" id="demo" can-autorender>
  <can-import from="~/styles/styles.less" />
  <can-import from="~/components/common/issuance-summary/issuance-summary.component" />
  <issuance-summary issuance:from="issuance" />
</script>

<script src="../../../../node_modules/steal/steal.js"
        main="can-view-autorender">
  import canViewModel from 'can-view-model'
  import issuance from '~/models/mock/mock-issuance'

  canViewModel(document.getElementById('demo')).set({
    issuance
  })
</script>
