@import '../../../../styles/bootstrap-custom/_variables.less';

issuance-form {
	display: block;
	.restriction-levels {
		strong {
			display: block;
			color: @gray-base;
		}
		.radio {
			padding-top: 0;
			display: flex;
			justify-content: space-between;
			label {
				max-width: 300px;
			}
			.icon {
				align-self: center;
			}
		}
	}
	@media (max-width: @screen-xs) {
		.rate-arrows {
			 margin-top: 10px;
		}
	}
}
