@import '../../../styles/bootstrap-custom/_variables';

portfolio-toolbar {
	display: block;

  nav.navbar {
    margin: 0 -10px 10px;
    border-bottom: 1px solid @gray-lighter;
  }
  
  .balance {
    font-size: 20px;
    line-height: 10px;
  }
}