@import '../../../styles/bootstrap-custom/_variables';

portfolio-toolbar {
	display: block;

  .navbar-text {
    flex-grow: 2;
    margin-left: 0;

    .balance {
      font-size: @font-size-h4;
      line-height: 1em;
    }
  }

  @media (max-width: @screen-md) and (min-width: @screen-xs) {
    .navbar-text {
      margin-bottom: 0;
    }
  }

  .sync-indication-icon {
    margin: 0 0.5rem 0 1rem
  }
  
  .sync-indication-text {
    margin: 0 1rem 0 0.5rem
  }

}