@import '../../../../styles/bootstrap-custom/_variables.less';
@import (reference) '../../../../styles/custom/_mixins.less';

.user-recovery-phrase {
	display: block;

  .heading {
    text-align: center;
    .title {
      margin-top: 10px;
      margin-bottom: 20px;
      font-family: @font-family-bold;
    }
    .icon {
      .icon-circle(24px);
      &.icon-lock-enclosed {
        &:before {
          margin-left: 8px;
        }
        &.icon-with-check {
          &:after {
            content: "\ea10";
            margin-left: -1.3em;
            margin-top: 14px;
            background: @white;
            padding: 2px;
            font-size: 11px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .heading-warning {
    font-family: @font-family-bold;
    .icon-warning {
      color: @brand-warning;
    }
  }
  .instruction {
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-gotit {
    margin: 15px;
  }
  .btn-success {
    margin-bottom: @padding-xlarge-vertical;
  }
}