@import '../../../styles/bootstrap-custom/_variables.less';

received-passport-details {
	display: block;
	.passport-metadata {
		.well {
			margin-bottom: @padding-xlarge-vertical;
			dl {
				margin-bottom: 0;
			}
		}
	}
}