@import '../../styles/bootstrap-custom/_variables.less';

page-trading-passports {
	display: block;
	.toolbar {
		.navbar-text {
			flex-grow: 1;
			margin-left: 0;
			font-size: @font-size-large;
		}
		.toolbar-actions {
			font-size: 85%;
		}
	}
}