@import '../../styles/bootstrap-custom/_variables.less';
@import (reference) '../../styles/custom/_mixins.less';

page-trading-passports {
	display: block;
	.page-layout;
	.toolbar {
		.navbar-text {
			flex-grow: 1;
			margin-left: 0;
			font-size: @font-size-large;
		}
		.toolbar-actions {
			font-size: 85%;
		}
	}
	
	.passport-row,
	.passport-wrapper {
		flex: 1 1 auto;
		flex-direction: column;
	}
	trading-passports-list .panel {
		@media (max-width: @screen-sm) {
			margin-bottom: 20px !important;
		}
	}
	@media (max-width: @screen-xs) {
		grid-component .grid-responsive {
			width: 550px;
		}
		grid-component {
			overflow-x: auto;
		}
	}
}

