.card {
  display: flex;
  flex-direction: column;
  .panel-body {
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: flex;
    flex-direction: column;
    flex-basis: auto; // This needs to be explicit to avoid the div collapsing to "height:0" on ie.
    padding: 1em 0.5em;
  }
}

.card-full {
  height: @card-full-height;
  &.panel {
    margin-bottom: 0;
  }
}

.card-half {
  height: @card-half-height;
}

.card-row-full {
  flex: 1;
}

@media (max-width: @screen-md), (max-height: 700px) {
  .card-full,
  .card-half {
    height: initial;
  }
}
