.card {
  display: flex;
  flex-direction: column;
  .panel-body {
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
  }
}

.card-full {
  height: @card-full-height;
}

.card-half {
  height: @card-half-height;
}

.card-row-full {
  flex: 1;
}