/**
  * @stylesheet custom/_helpers.less Helpers
  * @parent styles.base
  *
  * @description
  * These are a collection of helpers that can be used in conjunction with other styles to get certain effects.
  *
**/

@import (reference) '../bootstrap-custom/_variables';
@import (reference) '_variables';
@import (reference) '_mixins.less';


.thin-scrollbar {
  &::-webkit-scrollbar {
    width: @scrollbar-width;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @gray-lighter;
    background-clip: padding-box;
    border: solid rgba(0, 0, 0, 0);
    height: 90px;
    border-top-width: 7px;
    border-right-width: 9px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 10px;
  }
}

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-border {
  border: 0;
}

.padding-bottom {
  padding-bottom: @padding-large-vertical*2;
}
.margin-bottom {
  margin-bottom: @padding-large-vertical*2;
}

/**
* @styles helpers-flex-helpers Flex Helpers
* @parent custom/_helpers.less 4
*
* @description
* Classes that can be used to adjust the layout of elements using flexbox.
*
* ### `.align-center`
* Aligns a flexbox element in the middle of the container vertically and horizontally.
*
* ### `.display-row`
* Elements inmediatly inside of a `.col-*` will be displayed as a column. Use this class to display as a row.
*
* ### `.stretch`
* Apply to any element to make it stretch vertically to the size of it's container.
**/

.align-center {
  align-items: center;
  justify-content: center;
}

.display-row {
  flex-direction: row;
}

.stretch {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}



/**
* @styles helpers-active-item-indicator Active Item Indicator
* @parent custom/_helpers.less 1
*
* @description
* Adds a blue bar indicator to the right of the element using a pseudo element.
* It requires for the parent to be positioned `position:relative`.
*
* Example:
* ```css
*   .item {
      .active-item-indicator;
    }
* ```
**/

.active-item-indicator {
  position: relative;
  &:after {
    background-color: @brand-primary;
    content: " ";
    width: 4px;
    height: 102%;
    position: absolute;
    top: -1px;
    left: -1px;
  }
}

/**
  * @styles helpers-contextual-background Contextual Background
  * @parent custom/_helpers.less 2
  *
  * @description
  * Use to assign a background color and border to an element.
  * It also adds a padding inside the element.
  *
  * @demo src/styles/demos/helpers/contextual-background.html
  *
**/


.contextual-bg-success {
  .contextual-bg-variant(@brand-success);
}

.contextual-bg-danger {
  .contextual-bg-variant(@brand-danger);
}

.contextual-bg-progress {
  .contextual-bg-variant(@brand-progress);
}

.contextual-bg-inactive {
  .contextual-bg-variant(@gray);
}

/**
  * @styles helpers-rotate Rotate
  * @parent custom/_helpers.less 2
  *
  * @description
  * Use the following classes to rotate an element for a preset of degrees.
  *
  * @demo src/styles/demos/helpers/rotate.html 100
  *
**/

.rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-flex;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-flex;
}
.rotate-135 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  display: inline-flex;
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-flex;
}
.rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-flex;
}

/**
  * @styles helpers-break-word Break Word
  * @parent custom/_helpers.less 3
  *
  * @description
  * Use the class `.break-word` to force long strings of text to wrap, vs overflowing the container.
  *
  * @demo src/styles/demos/helpers/break-word.html 100
  *
**/

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}


/**
  * @styles helpers-vertical-divider Vertical Divider
  * @parent custom/_helpers.less 4
  *
  * @description
  * Use the class `.vertical-divider` to show a vertical line to divide items in a navigation
  *
**/

.vertical-divider {
  width: 1px;
  background-color: @border-color;
  margin: 0 20px;
  height: 30px;
}
