.header-logo {
  display: block;
  float: left;
  width: 153px;
  height: 38px;
  background: url(../img/wallet-app-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}