/**
  * @stylesheet css-helpers Helpers
  * @parent styles.base
  *
  * @description
  * These are a collection of helpers that can be used in conjunction with other styles to get certain effects.
  *
**/

/**
  * @styles _rotate Rotate
  * @parent css-helpers 0
  *
  * @description
  * Use the following classes to rotate an element for a preset of degrees.
  *
  * @demo src/styles/demos/helpers/rotate.html 100
  *
**/

.rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
.rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;
}