@global-header-height: 70px;
@global-header-height-mobile: 120px;

@card-full-height: calc(~"98vh - "@global-header-height);
@card-half-height: calc(~"51vh - "@global-header-height);

@page-margin: 0.5em;

@scrollbar-width: 17px;

@break-point-columns: 1144px;
@break-point-max-screen: 1440px;
