@global-header-height: 85px;
@global-header-height-mobile: 120px;

@card-full-height: calc(~"97vh - "@global-header-height);
@card-half-height: calc(~"52.5vh - "@global-header-height);

@page-margin: 0.5em;

@scrollbar-width: 17px;

@break-point-columns: 1275px;
@break-point-max-screen: 1440px;
