
.column-action {
  width: 30px;
  text-align: right;
  .icon-cross {
    width: calc(16px);
    height: calc(16px);
    font-size: 12px;
    background: lightgray;
    border-color: lightgray;
    &:hover {
      text-decoration: none;
      color: lightpink;
      background: red;
      border-color: red;
    }
  }
}
