@import '../../../styles/bootstrap-custom/_variables.less';

create-issuance {
	display: block;

  .item-company {
    background-color: @active-bg;
  }
	.form-group {
		margin-bottom: 0;
	}

  .form-horizontal {
    label.control-label {
      text-align: left;
    }
  }

  .caret.pull-right {
    margin-top: 7px;
  }

	.restriction-levels {
		strong {
			display: block;
			color: @gray-base;
		}
		.radio {
			padding-top: 0;
			display: flex;
			justify-content: space-between;
			label {
				max-width: 300px;
			}
			.icon {
				font-size: 24px;
				align-self: center;
				color: @gray-light;
			}
		}
	}
	@media (max-width: @screen-xs) {
		.rate-arrows {
			 margin-top: 10px;
		}
	}
}
