@import '../../../styles/bootstrap-custom/_variables.less';

issue-passport {
	display: block;
	.issue-trading-passport-form {
		background-color: @active-bg;
		label {
			margin-top: 8px;
		}
		.checkbox {
			margin-top: 0;
		}
	}
	.icon-passport {
		margin-right: @padding-xs-horizontal;
	}
}