@import '../../../styles/bootstrap-custom/_variables.less';

issue-passport {
	display: block;
	.issue-trading-passport-form {
		background-color: @active-bg;
		label {
			margin-top: 8px;
		}
		.checkbox {
			margin-top: 0;
		}
	}
	.icon-passport {
		margin-right: @padding-xs-horizontal;
	}
	bootstrap-modal-content .modal-body {
		padding-top: @padding-large-horizontal;
		overflow-y: inherit; // Allows to show the datepicker without requiring scroll.
		
		@media (min-width: @screen-sm) {
			padding-bottom: 66px;
		}
	}
	.date-picker-container {
		flex-direction: row;
		label {
			margin-right: @padding-small-horizontal;
			text-transform: uppercase;			
		}
	}
	bootstrap-datepicker {
		.form-control {
			padding-right: 0;
		}
	}
	@media (max-width: 330px) {
		.modal-title {
			font-size: @font-size-h4 - 1;
		}
	}
}