@import '../../styles/bootstrap-custom/_variables.less';
@import '../../styles/custom/_variables.less';
@import '../../styles/custom/_helpers.less';

page-transactions {
	display: block;
  .page-layout;

  @media (max-width: @screen-md-max) {
    transactions-details {
      margin-top: @padding-xlarge-vertical;
    }
  }

  @media (max-width: @screen-md) {
    grid-component {
      .grid-responsive {
        .grid-header-container,
        .grid-body-scroll {
          width: 891px;
        }
      }
    }
  }

  @media (max-width: @screen-xs) {
    grid-component {
      height: initial;
      .grid-responsive {
        height: initial;
      }
    }
  }
}