@import '../../../../styles/bootstrap-custom/_variables.less';

authority-info {
	display: block;
	.well {
		background-color: @active-bg;
	}
	.btn-edit {
		align-self: baseline;
		margin-top: @padding-large-vertical;	
	}
}