market-capitalization {
	display: block;

  drag-panel {
    overflow: hidden;
  }

  .panel-body {
    min-height: 344px;
    text-align: center;
    position: relative; // to display the spinner in relation to the body of this panel.
  }

  bit-c3 {
    display: block;

    .chart-container {
      height: 214px;
    }

    // hide chart legend:
    .c3-legend-item {
      display: none;
    }
  }
}