<style>body { padding: 20px }</style>

<script type="text/stache" can-autorender id="demo-html">
<can-import from="~/components/page-research/market-capitalization/" />
<can-import from="~/styles/styles.less" />

<div class="row">
  <div class="col-md-4">
    <market-capitalization {data-columns}="dataColumns" {labels}="axisXData" />
  </div>
</div>
</script>

<script src="../../../../node_modules/steal/steal.js"
        main="can-view-autorender" deps-bundle>

  import '~/models/fixtures/';

//  import canViewModel from 'can-view-model';
//  import DefineList from 'can-define/list/list';
//
//  let data1 = new DefineList(['data1', 210, 270, 230, 200, 150, 120, 110, 105]);
//  let vm = canViewModel(document.getElementById('demo-html'));
//  let axisXData = new DefineList(['x','Imperial Brands','Microsoft','Amazon', 'Bershire', 'Facebook', 'Johnson & Johnson', 'Alphabet', 'Exxon Mobil']);
//
//  vm.set({
//    dataColumns: new DefineList([data1]),
//    axisXData
//  });
</script>
