market-capitalization {
	display: block;

  .panel-body {
    min-height: 245px;
    text-align: center;
  }

  bit-c3 {
    display: block;

    .chart-container {
      height: 214px;
    }

    // hide chart legend:
    .c3-legend-item {
      display: none;
    }
  }
}