<!DOCTYPE HTML>
<style></style>
<div id="demo"></div>

<meta name="viewport" content="initial-scale=1.0, width=device-width" />

<script type="text/stache" id="demo-html">
  <can-import from="~/styles/styles.less" />
  <can-import from="~/components/nav-bar/" />
  <can-import from="wallet-ui/components/page-orders/" />

  <nav-bar page="" is-logged-in="true" />
  <page-orders orders:from="orders">
</script>

<script src="../../../node_modules/steal/steal.js"
        main="@empty">

  import $ from 'jquery'
  import stache from 'can-stache'
  import reload from 'live-reload'
  import DefineMap from 'can-define/map/map'
  import Order from '~/models/order'
  import orders from '~/models/fixtures/orders'

  const vm = new DefineMap({
    orders: new Order.List(orders)
  })

  // Enable live-reload:
  stache.async($('#demo-html').html()).then(template => {
    let render = () => $('#demo').html(template(vm))
    render()
    reload(render)
  })
</script>
