@import (reference) '../../styles/custom/_mixins.less';

page-orders {
	display: block;
  .page-layout;


  // Stretch the parent containers to make the wells inside of them take the available space in
  // the screen. The overflow will be scrolled.
  order-details {
    .order-details-body {
      flex-grow: 2;
    }
  }

  order-data,
  order-offers-data {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    .well {
      flex-grow: 2;
      overflow-y: auto;
    }
  }
}

