@import '../../../styles/bootstrap-custom/_variables.less';

message-details {
	display: block;
	.message-row {
		flex: 1 1 auto;
	}
	.message-wrapper {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
	.message-metadata {
		dl {
			margin-bottom: 0;
		}
	}
	.message-content {
		font-size: @font-size-small;
	}

	.navbar {
		min-height: auto;
	}
}