@import '../../styles/bootstrap-custom/_variables.less';

page-issuances {
	display: block;

  .card-row-full {
    .well {
      @media (max-width: 991px) {
        flex: initial;
        margin-bottom: 20px;
      }
    }
  }
}