@import '../../styles/bootstrap-custom/_variables.less';
@import '../../styles/custom/_variables.less';
@import '../../styles/custom/_mixins.less';

page-issuances {
	display: block;
  .page-layout;

  grid-component {
    height: 80vh;
    .grid-responsive {
      height: 72vh;
    }
  }
  @media (min-width: @screen-md) and (max-width: @break-point-columns) {
    .col-md-3 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  @media (min-width: @screen-md) and (max-width: @break-point-max-screen) {
    .col-md-9 {
      flex-grow: 1;
      flex-basis: auto;
      max-width: initial;
    }
  }

  @media (max-width: @break-point-columns) {

    grid-issuances {
      display: initial;

      grid-component {
        height: 345px;
        margin-bottom: @padding-large-vertical*2;
      }
    }

    .card-row-full {
      .well {
        flex: initial;
        margin-bottom: @padding-large-vertical*2;
      }
    }
  }

  @media (min-width: @break-point-columns) {
    grid-component {
      .table tfoot {
        display: -webkit-box;
      }
      .pagination {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 963px) {
    grid-component .grid-responsive {
      width: 891px;
    }
    grid-component {
      overflow-x: auto;
    }
  }

}