<meta name="viewport" content="initial-scale=1.0, width=device-width" />


<script type="text/stache" can-autorender page="research" id="demo-html">
  <can-import from="~/styles/styles.less" />
  <can-import from="bootstrap/dist/js/bootstrap" />
  <can-import from="~/utils/stache-helpers/" />

  <button type="button"
          class="btn btn-lg btn-danger"
          data-toggle="popover"
          title="Popover title"
          data-content="And here's some amazing content. It's very engaging. Right?">
    Click to toggle popover
  </button>

  <br>
  <br>

  <button type="button"
          class="btn btn-lg btn-danger"
          data-toggle="tooltip"
          title="Popover title"
          data-content="And here's some amazing content. It's very engaging. Right?">
    Click to toggle popover
  </button>


  <br>
  <br>
  <br>

  <can-import from="~/components/notifications/notifications-list/" />
   <div class="dropdown">
      <a href="#" class="dropdown-toggle icon icon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      </a>
      <div class="dropdown-menu user-nav">
        <notifications-list></notifications-list>
      </div>
    </div>
</script>

<script src="../../../node_modules/steal/steal.js"
        main="can-view-autorender">
</script>
