bootstrap-modal {
  bootstrap-modal-content {
    &.modal-full-height {
      height: 90vh;
      .modal-body {
        position: relative;
        overflow: auto;
        height: 80vh;
      }
    }
  }
}