bootstrap-modal {
  bootstrap-modal-content {
    &.terms-and-conditions, &.privacy-policy, &.order-book {
      height: 90vh;
      .modal-body {
        position: relative;
        padding: 15px;
        overflow: auto;
        height: 77vh;

        .h3 {
          color: #468CD9;
        }
      }
    }
  }
}