@import '../../styles/bootstrap-custom/_variables.less';

bootstrap-modal {
  bootstrap-modal-content {
    &.modal-full-height {
      height: 90vh;
      .modal-body {
        position: relative;
        overflow: auto;
        height: 78vh;
      }
      @media (max-width: @screen-xs) {
        height: 97vh;
        .modal-body {
          height: 81vh;
        }
      }
    }
  }
}

