biggest-movers-grid {
  display: block;

  grid-component {
    table.table {

      // Customize column width:
      th, td {
        flex-basis: 5%;
        &.column-change {
          flex-basis: 10%;
        }
      }

      tr:nth-child(1) {
        td {
          border-top: none;
        }
      }
    }
  }
}