biggest-movers-grid {
  display: block;

  grid-component {
    .table {
      tr:nth-child(1) {
        td {
          border-top: none;
        }
      }
    }
    .column-company {
    }
    .truncate {
      display: table;
      table-layout: fixed;
      width: 100%;

      .truncated-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .column-change {
      width: 95px;
    }
    .column-changepercent {
      width: 68px;
    }
    .column-change,
    .column-changepercent {
      text-align: right;
    }
  }
}