// Most of this component is styled by: src/components/page-inbox/message-details/message-details.less

@import '../../../styles/bootstrap-custom/_variables.less';

poll-details {
	.poll-details {
		label {
			font-size: @font-size-base;
			margin-bottom: @padding-small-vertical;
		}
	}
	.poll-cta {
		margin-top: @padding-large-horizontal;
		align-items: center;
		.or {
			font-size: @font-size-small;
			color: @gray;
			margin-left: @padding-small-horizontal;
			text-transform: @padding-small-horizontal;
		}
	}
	.forward-details {
		font-size: @font-size-small;
	}
}