@import '../../../styles/bootstrap-custom/_variables.less';

.modal-authentication {
  .single-paragraph {
    margin-top: @padding-xlarge-vertical;
  }

  .password-input {
    max-width: 200px;
  }
  .modal-title {
    @media (max-width: @screen-xs-max) {
      font-size: @font-size-large;
    }
  }
}