@import '../../styles/bootstrap-custom/_variables.less';

page-auth {
  display: block;
  background-color: @gray-base;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .auth-container {
     padding: 3%;
  }

  h2 {
    font-size: @font-size-h3;
  }

  .auth-header {
      margin-bottom: @padding-large-vertical;
    .header-logo {
      @media (max-width: @screen-xs) {
        margin: 0 auto;
        float: none;
      }
    }

    .auth-tabs {
      color: @gray-lighter;
      text-align: right;
      padding: 8px 0;
      text-transform: uppercase;
      @media (max-width: @screen-xs) {
        text-align: inherit;
      }

      span, a {
        font-size: @font-size-small;
        margin: 0 @padding-xs-horizontal;
      }
      a {
        color: lighten(@brand-primary, 10%);
      }
    }
  }

  .panel {
    padding: 4% 7% 7%;
  }

  .show-password {
    color: @brand-primary;
    float: right;
    font-size: 20px;
  }

  .message-box {
    margin-top: @padding-large-vertical*2;
    .icon-email {
      font-size: 40px;
      position: relative;
      margin-bottom: @padding-large-vertical;
      color: @gray-lighter;
      &:after {
        font-family: 'edc-icons' !important;
        content : '\ea10';
        position: absolute;
        background-color: @brand-success;
        font-size: 10px;
        padding: @padding-small-vertical;
        border-radius: 10px;
        color: white;
        bottom: -3px;
        right: -11px;
      }
    }
  }

}

