@import '../../styles/bootstrap-custom/_variables.less';

page-auth {
  display: block;
  background-color: @gray-dark;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .auth-tabs {
    color: @white;
    text-align: right;
    padding: @padding-large-vertical 0;

    span, a {
      margin: 0 @padding-xs-horizontal;
    }
  }

  .panel {
    padding: 5% 10% 10%;
  }
}

