@import '../../styles/bootstrap-custom/_variables.less';

page-auth {
  display: block;
  background-color: @gray-dark;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .auth-container {
     padding: 3%;
  }

  h2 {
    font-size: @font-size-h3;
  }

  .auth-header {
      margin-bottom: @padding-large-vertical;
    .header-logo {
      background: url(../../styles/img/wallet-app-logo.png);
      float: left;
      width: 190px;
      height: 41px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -9999px;
      @media (max-width: @screen-xs) {
        margin: 0 auto;
        float: none;
      }
    }

    .auth-tabs {
      color: @gray-lighter;
      text-align: right;
      padding: @padding-large-vertical 0;
      text-transform: uppercase;
      @media (max-width: @screen-xs) {
        text-align: inherit;
      }

      span, a {
        font-size: @font-size-small;
        margin: 0 @padding-xs-horizontal;
      }
      a {
        color: lighten(@brand-primary, 10%);
      }
    }
  }

  .panel {
    padding: 4% 7% 7%;
  }

  .show-password {
    color: @brand-primary;
    float: right;
    font-size: 20px;
  }
}

