@import '../../../styles/bootstrap-custom/_variables.less';

manage-accepted-trading-passports {
	display: block;
	.nav-pills > li {
		width: 50%;
	}
	.message-box-status {
		margin-bottom: @padding-large-horizontal;
	}
}