@import '../../styles/bootstrap-custom/_variables.less';
@import (reference) '../../styles/custom/_mixins.less';

page-inbox {
	display: block;
	.page-layout;
	.toolbar {
		.navbar-text {
			flex-grow: 1;
			margin-left: 0;
			font-size: @font-size-large;
		}
		.toolbar-actions {
			font-size: 85%;
		}
	}
	@media (max-width: @screen-sm-max) {
		inbox-tabs-list {
			margin-bottom: @padding-xlarge-vertical;
		}
	}  
}