@import '../../../styles/bootstrap-custom/_variables.less';

timer-notice {
	display: block;
	.list-group-item {
		display: flex;
		align-items: center;
		justify-content: center;	
		border-bottom: 0;
		background-color: fade(@brand-warning, 20%);
	}
	.timer {
		margin-left: @padding-small-horizontal;
	}
	
}