@import '../../../../../styles/bootstrap-custom/_variables.less';

phrase-display {
	display: block;
  text-align: center;
  margin-bottom: @padding-xlarge-vertical;
  .word-number {
    color: @gray;
    font-size: @font-size-small;
  }
}