@import '../../../styles/bootstrap-custom/_variables.less';

passport-add-issuance-selector {
	display: block;
	.form-inline {
		.form-control.issuance-selector {
			width: 280px;
			display: inline-block;
			@media (max-width: 545px) {
				width: 100%;
			}
		}
	}
}