@import '../../../../styles/bootstrap-custom/_variables.less';

forwarded-poll {
	display: block;
	.foward-poll-content {
		border-left: 2px solid @brand-forward;
		padding-left: @padding-large-horizontal;
		label {
			font-size: @font-size-base;
			margin-bottom: @padding-large-vertical;
		}
		.forward-poll-indicator {
			color: @brand-forward;
			font-size: @font-size-small;
		}
	}
}