@import '../../styles/bootstrap-custom/_variables.less';

nav-footer {
	display: block;
	font-size: @font-size-xsmall;
	color: @gray-light;
	margin-top: 12px;
	margin-left: 2em;
	line-height: 1.8rem;
	a {
		color: @gray;
	}
	ul {
		margin-bottom: 0;
	}
}
