@import '../../styles/bootstrap-custom/_variables.less';

nav-footer {
	display: block;
	font-size: @font-size-xsmall;
	color: @gray-light;
	margin-top: -13px;
	margin-right: 1.2em;
	text-align: right;

	a {
		color: @gray;
	}
	ul {
		margin-bottom: 0;
	}
}
