<!DOCTYPE HTML>
<script>window.useXhrTransport = true</script>
<div id="demo"></div>
<style>
  body { padding: 20px }
  .modal { display: block; }
  bootstrap-modal-content { display: block; }
</style>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />

<script type="text/stache" id="demo-html">
  <can-import from="~/styles/styles.less" />
  <can-import from="wallet-ui/components/trade-funds/place-offer/" />
  <div class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <place-offer sendFn:from="@sendFn"
                     portfolio:from="portfolio"
                     issuance:from="issuance"
                     order:from="order"
                     offer:from="offer" />

      </div>
    </div>
  </div>

</script>

<script src="../../../../node_modules/steal/steal.js"
        main="@empty">

  import $ from 'jquery'
  import stache from 'can-stache'
  import reload from 'live-reload'
  import DefineMap from 'can-define/map/map'
  import orders from '~/models/fixtures/orders'
  import Order from '~/models/order'
  import portfolio from '~/models/mock/mock-portfolio'
  import mockHtlcOffer from '~/models/mock/mock-htlc-offer'
  import issuance from '~/models/mock/mock-issuance'
  import '~/models/fixtures/portfolio-addresses'
  import canViewModel from 'can-view-model'
  window.canViewModel = canViewModel

  const offer = mockHtlcOffer().offer
  offer.timelock = 288

  const vm = new DefineMap({
    portfolio,
    order: new Order(orders[0]),
    offer,
    issuance,
    sendFn: function () {
      console.log('demo sendFn')
      return Promise.resolve(arguments)
    }
  })

  // Enable live-reload:
  stache.async($('#demo-html').html()).then(template => {
    let render = () => $('#demo').html(template(vm))
    render()
    reload(render)
  })
</script>
