@import '../../../styles/bootstrap-custom/_variables';

grid-issuances {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  .column-company {
    min-width: 79px;
  }
  .column-domicile {
    width: 100px;
    max-width: 100px;
  }
  .column-issuance {
    width: 150px;
  }
  .column-issuance-type {
    width: 120px;
  }
  .column-restriction {
    width: 80px;
  }
  .column-market-cap {
    width: 150px;
  }
  .column-change-price {
    width: 150px;
  }
  .column-change-percentage {
    width: 90px;
  }

  .column-market-cap,
  .column-change-price,
  .column-change-percentage,
  .column-restriction {
    text-align: right;
  }

}
