@import '../../../styles/bootstrap-custom/_variables';

grid-issuances {
  grid-component {
    .grid-header,
    .grid-body {
      .column-company {
        //width: 100px;
      }
      .column-domicile {
        width: 100px;
      }
      .column-issuance {
        width: 120px;
      }
      .column-issuance-type {
        width: 120px;
      }
      .column-restriction {
        width: 80px;
      }
      .column-market-cap {
        width: 150px;
      }
      .column-change-price {
        width: 150px;
      }
      .column-change-percentage {
        width: 80px;
      }

      .column-market-cap,
      .column-change-price,
      .column-change-percentage,
      .column-restriction {
        text-align: right;
      }
    }
  }
}
