@import '../../../styles/bootstrap-custom/_variables';

grid-issuances {
	display: block;

  grid-component {
    table.table {
      tbody {
        height: 300px;
      }
      // Customize column width:
      th, td {
        flex-basis: 5%;
        font-size: 11px;

        &:nth-child(1){
          flex-grow: 2;
        }
      }
      > tfoot > tr > td {
        border: none;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .arrow-change, .arrow-change:before {
    color: @brand-success;
  }
  .arrow-change:before {
    content: '\25B2';
    margin-right: 5px;
  }
  .arrow-change-neg, .arrow-change-neg:before {
    content: '\25BC';
    color: @brand-danger;
  }
  .arrow-change-neg:before {
    content: '\25BC';
    margin-right: 5px;
  }
}