<script type="text/stache" id="demo" can-autorender>
  <can-import from="bootstrap/dist/css/bootstrap.min.css" />
  <can-import from="~/styles/styles.less" />
  <can-import from="~/components/page-issuances/grid-issuances/" />

  <grid-issuances {(rows)}="rows" />
</script>
<script src="../../../../node_modules/steal/steal.js"
        main="can-view-autorender">

  import DefineList from 'can-define/list/list';
  import DefineMap from 'can-define/map/map';
  import canViewModel from 'can-view-model';
  import Issuance from '~/models/issuance';
  import '~/models/fixtures/issuances';

  window.canViewModel = canViewModel;

  Issuance.getList().then(rows => {
    canViewModel(document.getElementById('demo')).set({
      rows
    });
  });
</script>
