@import '../../../styles/bootstrap-custom/_variables.less';
@import (reference) '../../../styles/custom/_mixins.less';
@import (reference) '../../../styles/custom/_icons.less';

notifications-list,
inbox-list {
	display: block;

  .list-group-item {
    .media-heading {
      color: @gray-dark;
      text-transform: uppercase;
    }
    .media-cta {
      margin-top: @padding-small-vertical;
    }
    &.read {
      background-color: fade(@gray-lightest, 80%);
      .media-heading {
        color: @gray;
      }
      .icon {
        background-color: transparent;
        border-color: @gray-lighter;
        color: @gray-light;

      }
    }
    &, &.read {
      .icon-open {
        .icon-sell-open;
      }
      .icon-trading {
        .icon-buy;
        background-color: @brand-progress;
        border-color: @brand-progress;
      }
      .icon-done {
        .icon-sell;
        background-color: @brand-progress;
        border-color: @brand-progress;
      }
      .icon-closed {
        .icon-buy-open;
      }
    }
    &.no-link {
      cursor: default;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .notification-time {
    float: right;
    font-size: @font-size-xsmall;
  }
  @media (max-width: @screen-xs) {
    .media-body {
      position: relative;
    }
    .notification-time {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
