@import '../../../styles/bootstrap-custom/_variables.less';

notifications-list,
inbox-list {
	display: block;

  .list-group-item {
    .media-heading {
      color: @gray-dark;
      text-transform: uppercase;
    }
    .media-cta {
      margin-top: @padding-small-vertical;
    }
    &.read {
      background-color: fade(@gray-lightest, 80%);
      .media-heading {
        color: @gray;
      }
      .icon {
        background-color: transparent;
        border-color: @gray-lighter;
        color: @gray-light;
        
      }
    }
    &.no-link {
      cursor: default;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .notification-time {
    float: right;
    font-size: @font-size-xsmall;  
  }
  @media (max-width: @screen-xs) {
    .media-body {
      position: relative;
    }
    .notification-time {
      position: absolute;
      bottom: 0;
      right: 0;  
    }
  }
}
