equity-grid, bonds-grid {
	display: block;

  grid-component {
    .column-company {
      min-width: 160px;
    }
    .column-issuance {
      width: 120px;
    }
    .column-quantity {
      width: 64px;
      text-align: right;
    }
    .column-cost,
    .column-price,
    .column-value {
      width: 100px;
      text-align: right;
    }
    .column-pl {
      width: 86px;
      text-align: right;
    }
  }
}