equity-grid, bonds-grid {
	display: block;

  grid-component {
    .column-company {
      min-width: 79px;
    }
    .column-issuance {
      width: 120px;
    }
    .column-quantity,
    .column-cost,
    .column-price,
    .column-value,
    .column-pl {
      width: 100px;
      text-align: right;
    }
  }
}